<style>
    .footer {
        background-color: #f8f8f8;
        padding: 20px 0;
    }

    .footer_nav {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .footer_nav li {
            display: inline-block;
            margin-right: 15px;
        }

            .footer_nav li a {
                color: #555555;
                text-decoration: none;
            }

    .footer_social ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .footer_social ul li {
            display: inline-block;
            margin-right: 10px;
        }

            .footer_social ul li a {
                color: #555555;
                text-decoration: none;
            }

    .contact {
        text-align: center;
        margin-top: 20px;
    }

        .contact h4 {
            margin-bottom: 10px;
            font-size: 18px;
        }

        .contact p {
            margin: 5px 0;
            font-size: 14px;
        }

    .cr {
        font-size: 12px;
        color: #777777;
        margin-top: 20px;
        text-align: center;
    }
</style>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact">
                        <h4>CÔNG TY TNHH HTT VIETNAM</h4>
                        <p>Mã Số Thuế: 0106486365</p>
                        <p>Địa chỉ: Trường Đại học Thủ Dầu Một, Trần Văn Ơn, Phú Hòa, Thành phố Thủ Dầu Một, Bình Dương</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer_nav_container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1958.386331600037!2d106.67448388174643!3d10.980524741380378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d1085e2b1c37%3A0x73bfa5616464d0ee!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBUaOG7pyBE4bqndSBN4buZdA!5e0!3m2!1svi!2s!4v1700555129892!5m2!1svi!2s" width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="col-md-4">
                   
                    <div class="footer_social d-flex flex-row align-items-center justify-content-lg-start justify-content-center">

                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>