
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutPageTrangChu.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <title>Liên hệ</title>
    <link rel="stylesheet" type="text/css" href="style.css">
<style>
  

    .container13 {
        max-width: 600px;
        margin: 300px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    label {
        display: block;
        margin-bottom: 5px;
    }

    input.lh[type="text"],
    input.lh[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input.lh[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

        input.lh[type="submit"]:hover {
            background-color: #0056b3;
        }

</style>
</head>
<body>
    <div class="container13">
        <h1>Liên hệ chúng tôi</h1>
        <p>Hãy điền vào mẫu liên hệ sau đây:</p>
        <form action="" method="POST">
            <label for="name">Họ và tên:</label>
            <input class="lh" type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input class="lh" type="email" id="email" name="email" required>

            <label for="message">Tin nhắn:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <input class="lh" type="submit" value="Gửi">
        </form>
    </div>
</body>
</html>
